/*<!-- start slider -->*/
a {
	text-decoration: none !important;
}
.current {
	color: rgb(41, 171, 226) !important;
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.top-header-my-self {
		background-color: rgb(53, 53, 74);
	}
	.my-right-top-header {
		justify-content: center;
	}
	.more-info {
		position: relative;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.move-info {
		position: absolute;
		bottom: 0px;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.my-right-top-header {
		justify-content: flex-end;
	}
}
.loader {
	position: fixed;
	z-index: 999999;
	background: rgb(23, 21, 25);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header a, .header {
	color: white !important;
}
.my-right-top-header .list-item a i:hover {
	color: rgb(41, 171, 226);
}
.top-h {
	z-index: 1001;
	width: 100%;
}


.navbar-nav .nav-item .nav-link{
	border-bottom: 4px solid transparent;
}

.navbar-nav .nav-item .nav-link:hover {
	border-bottom-color: rgb(41, 171, 226);
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
	border-right: 4px solid transparent;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
	border-right-color: rgb(41, 171, 226);
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item span:hover {
	color: rgb(41, 171, 226) !important;
}


/*start slider */

.bg-blog {
	background-image: url('../images/blog.png');
	width: 100%;
	height: 220px;
	/*background-repeat: no-repeat;*/
}
.theme-back {
	background-color: rgb(53, 53, 74);
	opacity: 0.7;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	position: absolute;
}
/*end slider */


/*start container*/
.my-con-us {
	background-color: rgb(41, 171, 226);
	color: white;
}
.btn-sent {
	background-color: rgb(41, 171, 226);
	color: #fff;
	border-radius: 0% !important;
}
.btn-sent:hover {
	background-color: rgb(53, 53, 74);
	color: #fff;
}
.contact-us {
	background-color: rgb(247, 247, 247);
}
/*end container*/

/*start footer*/
.footer {
	background-color: rgb(53, 53, 74);
}
.list-link {
	list-style: none;
	padding-left: 0;
}
.list-link li a {
	color: white;
	text-decoration: none;
}

.list-link li a:hover {
	color: rgb(41, 171, 226);
}

.top-footer {
	border-bottom: 3px solid rgb(41, 171, 226);
}

.list-contact > a {
	color: gray;
}
.list-contact > a:hover {
	color: rgb(41, 171, 226);
}
@media (max-width: 767.98px) {
	.footer  div{
		text-align: center !important;
	}
}
/*end footer